@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Jua&display=swap');
* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}


/* Loader */

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.loaderimg {
    width: 300px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    25% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    75% {
        -webkit-transform: rotateY(270deg);
        transform: rotateY(270deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

#body {
    display: none;
}


/* Navbar */

.navbar {
    background-color: #fffbce;
}

.navlogo {
    width: 200px;
}

@media (max-width:370px) {
    .navlogo {
        width: 150px;
    }
}

.lines {
    display: flex;
    justify-content: center;
    align-content: center;
}

.threebars {
    color: #214a52;
    height: 100%;
}

.active {
    color: #7fb54d;
}

.active:hover {
    color: #7fb54d;
}

.nonactive {
    color: #214a52;
}

.nonactive:hover {
    color: #7fb54d;
}


/* Contact Us */

.contactus {
    font-family: 'Jua', sans-serif;
}

.contacth1 {
    text-align: center;
    font-weight: bolder;
}

.contact-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tel {
    color: black;
}

.tel:hover {
    color: #7fb54d;
    text-decoration: none;
}

.mail {
    color: black;
    text-decoration: none;
}

.mail:hover {
    color: #7fb54d;
    text-decoration: none;
}

.chat {
    color: black;
    text-decoration: none;
}

.chat:hover {
    color: #7fb54d;
    text-decoration: none;
}


/* Map */

.map {
    width: 100%;
    height: 500px;
    border: 1px solid gray;
}


/* Footer */

.footer {
    background-color: #fffbce;
}

.hyperlink {
    color: black;
    font-size: large;
    font-weight: bold;
}

.hyperlink:hover {
    color: #7fb54d;
}

.tel {
    color: black;
    text-decoration: none;
}

.tel:hover {
    color: #7fb54d;
    text-decoration: none;
}

.navbtm {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.act {
    color: #7fb54d;
}

.navbtm:hover {
    color: #7fb54d;
    font-weight: bold;
    text-decoration: none;
}

.fotr {
    margin-top: 20px;
}

.below {
    display: none;
}

@media (max-width:576px) {
    .below {
        display: block;
    }
}

.webcoderz {
    text-decoration: none;
    font-weight: bold;
    color: #00455e;
}

.webcoderz:hover {
    text-decoration: none;
    color: #ffae00;
}